
<header class="bg-primary text-white py-3">
  <div class="container">
    <h1 class="h2">My Website</h1>
    <nav style="background-color: black" class="nav">
      <a style="margin-right: 10rem" class="mx-3 nav-link  text-white" routerLink="home-page" routerLinkActive="active" >Home</a>
 <a class="nav-link" routerLink="about-us" routerLinkActive="active"> About</a>
      <a class="mx-3  nav-link text-white" href="#">Services</a>
      <a class=" nav-link text-white" href="#">Contact</a>
    </nav>
  </div>
</header>


